extends layout

append content
  .section.section_map
    .container-fluid
      #map.map
    #breakpoint.section.section_form
      .container
        .row
          .col-md-6
          .col-md-6
            include ../pug/_form