extends layout

append content
  include ../pug/_hero
  include ../pug/_brands
  include ../pug/_services
  include ../pug/_works
  include ../pug/_info
  include ../pug/_quotes
  include ../pug/_floor
