@mixin section {
  .section {
    background: $clr-section-back;

    &__header {
      background: $clr-section-back;
      text-align: center;
      margin: 0 auto;
      width: 60%;
    }
  }

  .section__title {
    @include heading;
    font-size: 2.5rem;
  }

  .section__subtitle {
    @include paragraph;
    font-size: 1.5rem;
  }
}
