.label {
  opacity: 0;
  color: $clr-light-fore;
  background: $clr-alt-fore;

  &::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    left: -12px;
    top: 5px;
    border-radius: 1px;
    background: inherit;
    padding: 8px;
    transform: rotate(45deg);
    z-index: -1;
  }
}

.input {
  &:focus + .label {
    opacity: 1;
  }
}

.input_state_error {
  & + .label {
    opacity: 1;
    background: $clr-error-fore;
  }
}

.input_type_textarea {
  height: 180px;
  width: 80%;
}
