-
  title = 'Салон «Caramel»'
  subtitle = 'Наш салон красоты работает для вас'

#info.section.section_gradient.section_info
  .section__header
    .container
      h3.section__title.info_to-animate=title
      p.section__subtitle.info_to-animate=subtitle
  .container
    .info
      figure.card.info__card.info_to-animate
        img.info__img(src="./img/work_1.jpg")
      p.info__text.info_to-animate.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci aliquam dolorem id
        ipsum iste labore minima minus, placeat quam quod, ullam? Delectus eum facere labore,
        libero, odio officiis possimus quos ratione reiciendis sit soluta, ut voluptatem?
        Accusamus adipisci atque corporis culpa deserunt dignissimos eius est facilis hic illo
        labore libero, magnam magni, maiores maxime minima natus neque nesciunt nostrum officiis
        pariatur perferendis placeat quam quia quis rem repellat repellendus repudiandae ullam
        veritatis. Distinctio dolore doloribus error illo itaque minus natus numquam, temporibus
        velit voluptates? Dolor ea itaque nisi porro, quod tempora.
      p.info__text.info_to-animate.
        A ab animi architecto at consequuntur corporis dolorum eum excepturi fugit ipsum,
        magnam officiis optio ratione saepe sed velit voluptatem? Autem, dicta dolore ipsam ipsum
        iusto laudantium magnam, odit optio praesentium quaerat quam repellat vitae voluptate.
        Alias aperiam, corporis delectus eum modi optio quae quas quibusdam tempore temporibus
        totam veritatis? Nam numquam quae quas voluptates? Autem deserunt dignissimos doloribus
        eius, eos, exercitationem fuga laborum nam neque nostrum porro possimus, quaerat quod
        saepe sit unde velit voluptate. Accusantium architecto aut cum dolor dolorem dolores eum,
        exercitationem, impedit labore libero nam neque nihil non officia optio porro possimus
        quam, quidem soluta tenetur ullam velit voluptatem voluptates! Ab alias aliquid aperiam
        aspernatur assumenda at consectetur corporis, cum deleniti dolore doloribus ducimus est
        eveniet id inventore ipsa iusto magnam magni maiores natus nemo neque nesciunt nihil odio
        perspiciatis quaerat quam quibusdam quisquam quod reprehenderit sed sint soluta sunt
        tempore veritatis vero vitae?
      p.info__text.info_to-animate.
        Ab commodi cumque delectus dolor doloribus, esse hic neque voluptas voluptate? Alias
        autem harum recusandae. A ab accusantium adipisci, aperiam aspernatur commodi cupiditate
        debitis deserunt dignissimos doloremque earum, exercitationem hic natus neque obcaecati
        officia perspiciatis placeat porro qui quibusdam quisquam repellat sunt tempora tenetur,
        totam ullam ut vero. Ad at cumque doloribus est et ex, exercitationem magnam minima
        nulla, optio quis, sint unde voluptas? Atque ipsum necessitatibus neque quis. Adipisci
        consectetur est explicabo possimus quas. Cupiditate eveniet excepturi harum minima
        officiis perferendis possimus veniam? Debitis dolorem iure labore voluptates. Accusamus
        alias aliquid aperiam atque consequatur cum debitis deleniti dolorum ea eaque eos et
        eveniet expedita explicabo fuga fugiat fugit harum, ipsa magni nam, nemo nesciunt officia
        optio praesentium quae, qui quidem quis rem sequi sunt temporibus unde ut veniam
        veritatis vero voluptatem voluptates.
      figure.card.info__card.info_to-animate
        img.info__img(src="./img/work_3.jpg")
      p.info__text.info_to-animate.
        Amet assumenda eveniet iusto laboriosam odio soluta, delectus dignissimos facere harum
        illum impedit inventore libero natus odio omnis quae quidem repellendus tempora
        voluptatum. Aliquid atque aut sint suscipit unde! Aliquid at, consequatur debitis harum
        labore laborum libero magnam, necessitatibus nobis non odit optio quaerat repellendus,
        sint sit tenetur voluptas voluptatem. Autem, delectus dolores esse harum iste magni
        necessitatibus officia pariatur quae recusandae, rerum veniam voluptatum? Ab alias
        dolores illo ipsa maxime necessitatibus nemo neque odit quam quo tempora tempore
        temporibus, ullam vel voluptatibus!
      p.info__text.info_to-animate.
        Corporis incidunt obcaecati perferendis sequi illo iure labore quisquam ratione, ut.
        Doloribus labore nostrum quod. Autem consectetur illo impedit minus, numquam rem
        repellendus tempora. Accusamus adipisci animi assumenda, at atque blanditiis consequatur
        debitis delectus deleniti doloremque dolorum eius error eveniet illum in labore
        laboriosam libero maxime natus non nulla, odit omnis optio perspiciatis quae quasi
        quibusdam quidem quos ratione repellendus rerum sapiente similique ullam veritatis
        voluptas voluptate voluptates. At cupiditate eaque minus modi unde. Dolore hic nulla
        pariatur sunt veniam. Aliquam autem blanditiis eligendi error eum exercitationem id
        incidunt ipsam, mollitia natus nihil nulla optio ratione recusandae, sit vel
        voluptatibus.
      p.info__text.info_to-animate.
        Ab accusamus asperiores aspernatur consectetur corporis cupiditate dolore consectetur
        dolorem ea esse excepturi fuga harum incidunt itaque labore laboriosam maxime modi
        mollitia natus obcaecati praesentium quia quisquam quod recusandae sequi soluta sunt
        ullam unde ut velit, voluptatibus! Alias architecto blanditiis consectetur consequatur
        doloribus, ea labore laboriosam natus neque porro, saepe similique sint vitae! Doloribus
        ea eos est magni maxime odit repellendus similique soluta velit, voluptatem. Ad animi,
        dolore doloremque nostrum possimus totam? Corporis ipsa laboriosam minus nam quasi
        repellendus ullam voluptatem. Architecto at cumque distinctio eligendi fugiat harum
        ipsum quisquam repellendus reprehenderit temporibus. Accusamus aperiam blanditiis
        ducimus ea laboriosam nisi possimus quaerat ullam.